@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.bg-green
  background-color #304030
  
.menu
  background-color #E8E8E8
  width 5%

.nav-item
  width 100%
  text-align center

.nav-link
  padding 0.5rem 0
  
.dateText
  display inline-block
  padding 1.5rem 0.5rem 0 0.8rem
  font-family 'Fjalla One', sans-serif
  font-size 1rem
  letter-spacing 0px
  color #FFFFFF
  opacity 0.5

.taskTime
  font-family 'Fjalla One', sans-serif
  font-size 9rem
  letter-spacing 0px
  color #E8E8E8
  opacity 1
  
.circle
  border 2px solid white
  border-radius 50%
  padding 0.5rem
  
.playcircle
  background #E8E8E8 0% 0% no-repeat;
  padding 1rem
  border-radius 50%
  
.orange
  width 100%
  height 35%
  
.img-height
  max-height 100%
  width auto
  
.nowcircle
  display inline-block
  border 2px solid white
  width 2.3rem
  height 2.3rem
  border-radius 50%
 
.nowText
  font-size 1.5rem
  color #E8E8E8
  opacity 1
  font-family 'Noto Sans TC', sans-serif;
 
.tomato
  display inline-block
  width 0.6rem
  height 0.6rem
  border-radius 50%
  background #DFE2B6
  opacity 0.2
  
.tomatoLeft
  margin-left 3.5rem
.tomatoLeft2
  margin-left 2.5rem

.taskcircle
  width 1.5rem
  height 1.5rem
  border 2px solid white
  border-radius 50%
  
.taskText
  font-size 1.1rem
  color #E8E8E8
  opacity 1
  font-family 'Noto Sans TC', sans-serif;
  
.listText
  font-size 2rem
  color: #E8E8E8;
  font-weight normal
  font-family 'Noto Sans TC', sans-serif;
  
.finishText
  font-size 0.8rem
  font-weight normal
  font-family 'Noto Sans TC', sans-serif;
  color #E8E8E8;
  cursor pointer
  
.boxShadow
  box-shadow 20px 0px 20px -30px rgb(0 15 0)

.imgPosition
  bottom 0px
  right -60%
  
ul
  margin-block-start 0
  margin-block-end 0
  padding-inline-start 0
  
li  
  list-style none
  
.opacity-1
  opacity 1
  
.fit
  height fit-content !important
  
#home
  ul>li:first-child>div>.taskcircle
    width 2.5rem
    height 2.5rem
    border 2px solid white
    border-radius 50%
    position relative
    top 0
    left -0.5rem
  ul>li:first-child>div>.taskText
    font-size 1.6rem
    color #E8E8E8
    opacity 1
    font-family 'Noto Sans TC', sans-serif;
  
  
#list
  overflow:hidden
  li:nth-child(1)::before
    content ''
    position absolute
    top -20%
    width 100%
    height 1.2px
    background #E8E8E8
    opacity 0.4
    
  li::after
    content ''
    position absolute
    bottom -10%
    width 100%
    height 1.2px
    background #E8E8E8
    opacity 0.4
    
  .inputblock
    border-radius: 4.25rem
    padding 1.375rem 1.35rem

  .addbtn
    width 40px
    height 25px
    position absolute
    top 50%
    right 5%
    transform translateY(-50%)
    font-size 1.3rem
    background-color #F08448
    border none
    line-height 0

  .addbtn:hover, .addbtn-focus
    background-color #FF8C00 
    
  .btn
    transition none !important
    
  .btn-secondary:hover
    background #ff8c00
    
  .was-validated .form-control:invalid, .was-validated .form-control:valid, .form-control.is-invalid, .form-control.is-valid
    background-position right calc(5.375em + 0.1875rem) center
    
#analysis
  overflow:hidden
  .title
    font-size 1rem
    color #E8E8E8
    
  .date
    font-size 1rem
    font-weight 400
    color #E8E8E8
    opacity 0.5
    
  .border
    width 100%
    border-radius 0.4rem
    border 1px solid rgba(255,255,255,0.4) !important
    position relative  
    
  .border::before
    width 1px
    height 80%
    content ''
    position absolute
    background rgba(255,255,255,0.4)
    top 50%
    left 50%
    transform translate(-50%,-50%)
  .text-green
    font-size 3.5rem
    color #6C9460
    font-weight 600
    
  .text-orange
    font-size 3.5rem
    color #F08448
    font-weight 600
    
  .week
    font-size 1rem
    font-weight 400
    color #E8E8E8
    opacity 0.8